<!DOCTYPE html>
<html>

<body>
    <div class="content">
        <h3> ---- Update Report Status From Leader ----</h3>
    </div>
    <form method="post">
        {% csrf_token %}

        <br>
        <br>
        <!-- <input type="text" name="status" > -->
        <p   name="status">          
            <label>Select the status</label>
            <select id = "myList"  name="status">
            <option value = "approval">Approve</option>
            <option value = "rejected">Reject</option>
            </select>
        </p>
        <br><br>
        <input type="submit">
    </form>
</body>

</html>