<html>
<head>
<h2>All The Reports</h2>


<style>
ul {
  background: #f0cdcd;
  padding: 20px;

}   
ul li {
  background: #faf1f1;
  padding: 5px;
  margin-left: 35px;
  color: #200404;
}
h2 {
    size: 20px;
    color: #3f0101;
}
</style>

</head>
<body>
    <ul> 
        <!-- Iterate over object_list -->
        {% for object in object_list %} 
        <!-- Display Objects -->
        <li >Title:{{ object.title }}</li> 
        <li>info: {{ object.info }}</li> 
        <li>status: {{ object.status }},,,, and it is accepted {{object.accepting_count}} times from the employees</li> 
        <li>it is publish at :{{ object.publish_at }}</li> 
        <hr/> 
        <!-- If objet_list is empty  -->
        {% empty %} 
        <li>No objects yet.</li> 
        {% endfor %} 
    </ul> 
</body>
</html>