<!DOCTYPE html>
<html>

<body>
    <div class="content">
        <h3> ---- Review The Report ----</h3>
    </div>
    <form method="post">
        {% csrf_token %}

        <br>
        <br>
        <!-- <input type="text" name="status" > -->
        <p   name="status">          
            <label>Select the status</label>
            <select id = "myList"  name="status">
            <option value = "review_accepted">Accepte</option>
            <option value = "review_unaccepted">Unaccepte</option>
            </select>
        </p>
        <br><br>
        <input type="submit">
    </form>
</body>

</html>