<!DOCTYPE html>
<html>

<body>
    <div class="content">
        <h2>Sign Up</h2>
    </div>
    <form method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Submit">
    </form>

</body>

</html>